.inputData {
    width: 1300px;
    margin: 200px auto;
    text-align: center;
    display: inline-block;
}

.info {
    width: 1300px;
    margin: 10px auto;
    text-align: center;
    display: inline-block;
}